* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 50px 30px 30px 30px;
}

.mainImage {
  height: 90vh;
  background-image: linear-gradient(to right bottom, #73767ace, #161817e0),
    url(./images/frontPage.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  border: rgb(117, 117, 117) 0.5px solid;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /*The next line add a negative offset to get the text-box right 
  in the middle of the screen*/
  transform: translate(-50%, -50%);
  text-align: center;
}

.primary-text {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.primary-text-main {
  display: block;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 10px;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  background: linear-gradient(
    to bottom,
    rgba(204, 203, 203, 0.507) 0%,
    rgba(56, 56, 56, 0.315) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 10px 80px;

  color: rgb(21, 21, 26);
  text-decoration: none;
  transition: background-size 0.2s;
}

.primary-text-main:hover {
  background-size: 4px 4px;
}

.primary-text-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 15px;
  animation: moveInRight 1.5s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-white {
  background: #fff;
  color: rgb(56, 56, 56);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated-from-bottom {
  animation: moveFromBottom 0.7s ease-in;
}

.navigation-items {
  list-style: none;
  display: flex;
}

.navigation-items a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.233);
}

.navigation-item a {
  text-decoration: none;
  color: rgb(56, 56, 56);
  margin: 0 1.9rem;
  font-size: 1.5rem;
  padding: 0.68rem 10px;
}

.logo img {
  height: 40px;
  width: auto;
}

.toolbar {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  background: #fff;
}

.toolbar-logo {
  height: 25px;
  width: 25px;
}

.sideDrawer {
  display: none;
}

.drawerToggle {
  visibility: hidden;
}

/*About Page*/
.about-container {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  color: #000;
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  /*grid-template-columns: repeat(2, 1fr);*/
}

.about-container-column {
  flex: 50%;
  padding: 20px;
}

#about-photo {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#about-photo img {
  width: 70%;
  border-radius: 50%;
}

#about-skills {
  padding: 0.5rem;
}

.about-skill-logo {
  margin-right: 5rem;
  filter: grayscale(50%);
  height: 8rem;
}

/*Media Queries*/
@media (max-width: 830px) {
  .navigation-item a {
    margin: 0 1rem;
    font-size: 1rem;
  }
  .about-container-column {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .mainImage {
    height: 85vh;
    background-image: linear-gradient(to right bottom, #73767ace, #161817e0),
      url(./images/frontPage.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  .primary-text-main:hover {
    background-size: 10px 400px;
  }

  .logo img {
    display: none;
  }

  .sideDrawer {
    display: block;
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background: #fff;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
  }

  .navigation-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .navigation-item {
    margin: 10px;
  }

  .sideDrawer-open {
    transform: translateX(0);
  }

  .sideDrawer-close {
    transform: translateX(-100%);
  }

  .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .drawerToogle {
    position: absolute;
    left: 30px;
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    visibility: visible;
  }

  .lineBurger {
    width: 90%;
    height: 3px;
    background-color: rgb(56, 56, 56);
    visibility: visible;
  }
  .toolbar nav {
    visibility: hidden;
  }

  /*ABOUT*/

  #about-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
