* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 50px 30px 30px 30px;
}

.mainImage {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #73767ace, #161817e0),
    url(./images/frontPage.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /*The next line add a negative offset to get the text-box right 
  in the middle of the screen*/
  transform: translate(-50%, -50%);
  text-align: center;
}

.primary-text {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.primary-text-main {
  display: block;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 10px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.primary-text-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 15px;
  animation: moveInRight 1s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-white {
  background: #fff;
  color: rgb(56, 56, 56);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated-from-bottom {
  animation: moveFromBottom 0.7s ease-in;
}

.navigation-items {
  list-style: none;
  display: flex;
}

.navigation-item a {
  text-decoration: none;
  color: rgb(56, 56, 56);
  margin: 0 2rem;
  font-size: 1.6rem;
  padding: 0.68rem 10px;
}

.navigation-item a:hover {
  background: rgb(56, 56, 56);
  color: #fff;
}

.toolbar {
  height: 2.9rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  background: #fff;
}

@media (max-width: 720px) {
  .navigation-item a {
    margin: 0 1.5rem;
    font-size: 1.6rem;
    padding: 0.68rem 10px;
  }
}

@media (max-width: 650px) {
  .mainImage {
    height: 85vh;
    background-image: linear-gradient(to right bottom, #73767ace, #161817e0),
      url(./images/frontPage.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  .toolbar nav {
    visibility: hidden;
  }

  .navigation-items {
    flex-direction: row;
  }

  .navigation-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .navigation-item a {
    color: #ffffff;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .navigation-item a:hover,
  .navigation-item a:active,
  .navigation-item a.active {
    background: #8f5c2c;
    border-bottom: #40a4c8;
    color: #fff;
  }
}
