* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 4rem 3rem 3rem 3rem;
}

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, #73767ace, #161817e0),
    url(./images/frontPage.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  border: rgb(117, 117, 117) 0.5px solid;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /*The next line add a negative offset to get the text-box right 
  in the middle of the screen*/
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__primary-text {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  color: #ffffff;
  font-size: 6rem;
  font-weight: 300;

  letter-spacing: 1rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  background: linear-gradient(
    to bottom,
    rgba(204, 203, 203, 0.507) 0%,
    rgba(56, 56, 56, 0.315) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1rem 8rem;

  color: rgb(21, 21, 26);
  text-decoration: none;
  transition: background-size 0.2s;
}

.heading-primary--main:hover {
  background-size: 0.4rem 0.4rem;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  animation: moveInRight 1s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn--white {
  background: #fff;
  color: rgb(56, 56, 56);
}

.btn--dark {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.2rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  background: rgb(56, 56, 56);
  color: #fff;
  border: rgb(56, 56, 56) 0.1rem solid;
}

.btn--dark:hover {
  border: rgb(56, 56, 56) 0.1rem solid;
  background: #fff;
  color: rgb(56, 56, 56);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated-from-bottom {
  animation: moveFromBottom 0.7s ease-in;
}
/*NAV BAR*/
.navigation-items {
  list-style: none;
  display: flex;
}

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.navigation-item a {
  text-decoration: none;

  color: #fff;
  margin: 0 3.1rem;
  font-size: 2.2rem;
  padding: 1.1rem 1.6rem;
}

.logo img {
  height: 4rem;
  width: auto;
}

.toolbar {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 90;

  background: linear-gradient(
    to bottom,
    rgba(204, 203, 203, 0.507) 0%,
    rgba(56, 56, 56, 0.63) 100%
  );
}

.toolbar.active {
  background: #000;
}

.toolbar-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.sideDrawer {
  display: none;
}

.drawerToggle {
  visibility: hidden;
}

/*About Page*/
.about-container {
  font-size: 2rem;
  line-height: 1.7;
  color: #000;
}

#about-container__info-section {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.info-section__column {
  flex: 50%;
  padding: 2rem;
}

#about-photo {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

#about-description {
  animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

#about-photo img {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  border-radius: 50%;
}

#about-container__skills-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.8rem;
  justify-content: center;
  align-items: center;
}

#skills--section__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logos__logo {
  flex: 30%;
  margin: 1.6rem;
  filter: grayscale(50%);
  height: 8rem;
}

/*PROJECTS COMPONENT*/
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 3fr));
  gap: 1.5rem;
  padding: 0px 3rem 3rem 3rem;
}
/* SINGLE-PROJECT COMPONENT*/
.project-card {
  border: 1px solid #eee;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.3rem #ccc;
  padding: 1rem;
  margin: 1rem;
}

.project-card:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.project-card__image-container {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  height: 22rem;
}

.project-card__image {
  width: 100%;
  height: 100%;
}

.projects-card__techs {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.projects-card--tech {
  font-weight: 700;
  background-color: rgba(56, 56, 56, 0.76);
  margin-right: 1.5rem;
  color: #fff;
  border-radius: 2rem;
  padding: 0.3rem 0.5rem;
  font-size: 1.3rem;
}

.project-card__title {
  text-align: center;
}

.project-card__button-container {
  display: flex;
  justify-content: space-between;
}

/*Media Queries*/

@media (max-width: 860px) {
  .navigation-item a {
    margin: 0 1.6rem;
    font-size: 1.6rem;
  }
  #about-container__info-section {
    flex-direction: column;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-card {
    width: 50rem;
  }
  .project-card__image-container {
    display: flex;
    justify-content: center;
  }
  .project-card__image {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .header {
    height: 85vh;
    background-image: linear-gradient(to right bottom, #73767ace, #161817e0),
      url(./images/frontPage.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  .heading-primary--main:hover {
    background-size: 1rem 40rem;
  }

  .logo img {
    display: none;
  }

  .sideDrawer {
    display: block;
    position: fixed;
    width: 28rem;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background: #fff;
    padding: 3.2rem 1.6rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
  }

  .navigation-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .navigation-item {
    margin: 1rem;
  }

  .sideDrawer-open {
    transform: translateX(0);
  }

  .sideDrawer-close {
    transform: translateX(-100%);
  }

  .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .drawerToogle {
    position: absolute;
    left: 3rem;
    width: 4rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    visibility: visible;
  }

  .lineBurger {
    width: 90%;
    height: 0.3rem;
    background-color: rgb(56, 56, 56);
    visibility: visible;
  }
  .toolbar nav {
    visibility: hidden;
  }

  /*ABOUT*/

  #about-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
